/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global colors */
:root {
  --color-light-gray: rgb(217, 217, 217);
  --color-black: rgb(0, 0, 0);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-white: rgb(255, 255, 255);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-dark-gray: rgb(38, 38, 38);
  --color-bright-red: rgb(255, 55, 0);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-background: rgb(218, 218, 224);
  --border-width: -8px;
}

/* global text styles*/
h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 115px;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black-50);
  line-height: 25px;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background:var(--color-background);
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-position: center center;
  object-fit: cover;
}

/* selection colors */
::selection {
  background-color: var(--color-bright-red);
  color: var(--color-light-gray);
}

::-moz-selection {
  background-color: var(--color-bright-red);
  color: var(--color-light-gray);
}

/* custom classes */
.pseudo-border {
  border-radius: 20px;
  position: relative;
  box-shadow: 6px 8px 18px 3px rgba(1,1,1,0.18);
}

.pseudo-border::after{
  content: '';
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  background-color: rgba(255, 255, 255, 0.864);
  border-radius: 25px;
  z-index: -1;
}

.responsive-content {
  max-width: 1440px;
  width: 100%;
  margin: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}